html,
body,
header {
  max-width: 100%;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lusitana&family=Poppins:wght@400;700&display=swap');

article {
  position: absolute;
  width: 100%;
}

article img {
  width: 150px;
  margin: 0 auto;
}

article.nextSlide {
  transform: translateX(100%);
}

article.activeSlide {
  transform: translateX(0);
  opacity: 1;
}

article.prevSlide {
  transform: translateX(-100%);
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.alert-success {
  color: #155724;
  background: #d4edda;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
