html,
body,
header {
  max-width: 100%;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

article {
  position: absolute;
  width: 100%;
}

article img {
  width: 150px;
  margin: 0 auto;
}

article.nextSlide {
  transform: translateX(100%);
}

article.activeSlide {
  transform: translateX(0);
  opacity: 1;
}

article.prevSlide {
  transform: translateX(-100%);
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.alert-success {
  color: #155724;
  background: #d4edda;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

header {
  background: url('./assets/ShepherdHeroAlt.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  filter: sepia(0.1);
  filter: brightness(120%);
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;

  /* background: rgba(0, 0, 0, 0.2);

  box-shadow: inset 8rem 6rem 20rem #000, inset -8rem -6rem 20rem #000; */
}
